<div class="jumbotron">
   <div class="container">
      <div class="row">
         <div class="col-md-10">
            <br/>
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
               <button type="button" class="btn btn-default btn-primary what-button checkpoints-button" data="checkpoints">Checkpoints
               </button>
               <button type="button" class="btn btn-default what-button new-players-button" data="newplayers">New Players</button>
               <button type="button" class="btn btn-default what-button sessions-button" data="sessions">Sessions</button>
               <button type="button" class="btn btn-default what-button users-button" data="users">Users</button>
               <button type="button" class="btn btn-default cleandb-button">CleanDB</button>
            </div>
            <br/><br/>
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
               <button type="button" class="btn btn-default btn-primary filter-button all-button" >All</button>
               <button type="button" class="btn btn-default filter-button internal-button" data="1">Internal</button>
               <button type="button" class="btn btn-default filter-button friend-family-button" data="2">Friend/Family</button>
               <button type="button" class="btn btn-default filter-button connection-tester-button" data="3">
               Conenction/Tester</button>
               <button type="button" class="btn btn-default filter-button random-guy-button" data="4">Random Guy</button>
            </div>
         </div>
         <div class="col-md-2">
            <br/>
            <div class="panel panel-info services-panel">
               <div class="panel-heading">Services</div>
            </div>
         </div>
      </div>
      <br/>
      <br/><br/>
      <h4>Applications : </h4>
      <div class="btn-group btn-group-xs applications-group" role="group" aria-label="...">
      </div>
      <br/><br/>
      <h4>Versions : </h4>
      <div class="btn-group btn-group-xs versions-group" role="group" aria-label="...">
      </div>
      <br/><br/>
      <h4>Groups : </h4>
      <div class="btn-group btn-group-xs groups-group" role="group" aria-label="...">
      </div>
      <br/><br/>
      <button type="button" class="btn btn-default show-chart-button off">Show chart</button>
      <br/>
      <div class="chart">
      </div>
      <br/><br/>
      <div class="datatable">
      </div>
   </div>
</div>
</div>
