<div class="jumbotron">
	<div class="container">
		<h2>Welcome to Triominos administration !</h2>

		<p>&nbsp;</p>
			<div class="row">
				<div class="col-md-6"> 
				<img src="img/logo.png" alt="" width="200" height="150" >
				</div>
				<div class="col-md-6">
					<span class="pull-right">
						<h3>Login</h3>
						<br/>
						<div class="input-group">
							<span class="input-group-addon" id="username-span">Username</span>
							<input type="text" id="username-input" class="form-control username-input" 
							placeholder="Username" aria-describedby="username-span" required>
						</div>
						<br/>
						<div class="input-group">
							<span class="input-group-addon" id="password-span">Password</span>
							<input id="password-input" type="password" class="form-control password-input" 
							placeholder="Password" aria-describedby="password-span" required>
						</div>
						<br/><br/> 
						<a class="btn btn-primary btn-large login-button">Login &raquo;</a>
					</span>
				</div>
			</div>
	</div>
</div>
