{
  "env": {
    "es6": false,
    "node": false,
    "browser": true,
    "commonjs": true
  },

  "parserOptions": {
    "ecmaVersion": 5,
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "react"
  ],

  "globals": {
    "$": true,
    "_": true,
    "__dirname": true,
    "Backbone": true,
    "Gauge": true,
    "swal": true
  },

  "rules": {
    "no-var": 0
  }
}
