{
  "env": {
    "es6": true,
    "node": false,
    "mocha": false,
    "browser": true,
    "commonjs": true
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "plugins": [
    "react"
  ],

  "extends": [
    "../../.eslintrc",
    "plugin:react/recommended"
  ],

  "globals": {
    "$": true,
    "__dirname": true,
    "Gauge": true
  },

  "rules": {
    // Don't enforce let/const for browser.
    "no-var": 0,
    // Don't require props declaration.
    "react/prop-types": 0
  }
}
