
<div class="btn-group-justified">
	<div class="col-xs-6 col-md-4">
	  <h4><%-title%></h4>
	  <p><%-description%></p>
	  <p><%-price%> <%-currency%></p>
	</div>
	<div class="col-xs-6 col-md-4 text-right">
		 <p data-placement="top" data-toggle="tooltip" title="Edit">
		 	<button class="btn btn-primary btn-xs edit-button" data-title="Edit">
		 		<span class="glyphicon glyphicon-pencil"></span>
		 	</button>
		 </p>
    <p data-placement="top" data-toggle="tooltip" title="Delete">
    	<button class="btn btn-danger btn-xs delete-button" data-title="Delete">
    		<span class="glyphicon glyphicon-trash"></span>
    	</button>
    </p>
	</div>
</div>