
<div class="modal fade edit-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Item</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control title-input" placeholder="Title" aria-describedby="basic-addon1"
          value="<%-title%>" required>
          <div class="alert alert-danger hidden title-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a title
          </div>
        </div>
        <br/>
        <div class="form-group">
          <textarea class="form-control description-input" placeholder="Description" required><%-description%></textarea>
          <div class="alert alert-danger hidden description-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a description
          </div>
        </div>
        <br/>
        <div class="form-group">
          <input type="text" class="form-control price-input" placeholder="Price" aria-describedby="basic-addon1" value="<%-price%>" required>
          <div class="alert alert-danger hidden price-error" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a price
          </div>
        </div>
        <br/>
        <div class="form-group">
          <h6>Currency</h6>
          <select class="form-control currency-input">
            <option value="$" <% if (currency === "$") { print("selected");}%>>$</option>
            <option value="€" <% if (currency === "€") { print("selected");}%>>€</option>
          </select>
        </div>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-button">Save changes</button>
      </div>
    </div>
  </div>
</div>