<div class="container">
    <p><img src="../avatars/v1/<%-user.id%>/original.png" 
        width="160" height="160"/></p>
        <h1><%- user.username %></h1>

        <br>

        <div class="row show-grid bg-info" style="padding:10px">
            <div class="col-xs-6 col-md-4">Email</div>
            <div class="col-xs-6 col-md-4"><%- user.email %></div>
        </div>
        <div class="row show-grid bg-info" style="padding:10px;margin-top: 1px;">
            <div class="col-xs-6 col-md-4">Location</div>
            <div class="col-xs-6 col-md-4"><%- location %></div>
        </div>


</div>