
/** chat room styles*/


.chat-room .chat{
    margin-top: auto;
    margin-bottom: auto;
}
.chat-room .card{
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.chat-room .contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.chat-room .msg_card_body{
    overflow-y: auto;
}
.chat-room .card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.chat-room .card-footer{
border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.chat-room .container{
    align-content: center;
} 
.chat-room .type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
.chat-room    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.chat-room .attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.chat-room .send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
 
.chat-room .contacts{
    list-style: none;
    padding: 0;
}
.chat-room .contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.chat-room .active{
    background-color: rgba(0,0,0,0.3);
}
.chat-room .user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.chat-room .user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}

.chat-room .rounded-circle {
    border-radius: 50%!important;
}
.chat-room .img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.chat-room .img_cont_msg{
    height: 40px;
    width: 40px;
}
.chat-room .online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.chat-room .offline{
background-color: #c23616 !important;
}
.chat-room .user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.chat-room .user_info span{
font-size: 20px;
color: white;
}
.chat-room .user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.chat-room .video_cam{
margin-left: 50px;
margin-top: 5px;
}
.chat-room .video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}

.chat-room .justify-content-middle .msg_cotainer{
    background-color: gray !important;
    color: white!important;
}

.chat-room .justify-content-middle .img_cont_msg{
    display:none;
}

.chat-room .msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}

.chat-room .justify-content-end .msg_cotainer{
    margin-left: 0px;
    margin-right: 10px;
}

.chat-room .msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.chat-room .msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.chat-room .msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.chat-room .msg_head{
position: relative;
}
.chat-room #action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.chat-room .action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.chat-room .action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.chat-room .action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.chat-room .action_menu ul li i{
padding-right: 10px;

}
.chat-room .action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
    .chat-room .contacts_card{
margin-bottom: 15px !important;
}
}

.chat-room .mb-4, .my-4 {
    margin-bottom: 1.9rem!important;
}

.chat-room .justify-content-start {
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

.chat-room .justify-content-middle {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.chat-room .justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.chat-room .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.chat-room .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.chat-room .msg_card_body {
    overflow-y: auto;
}

.chat-room .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.chat-room .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.chat-room .card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}
.chat-room .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.chat-room .justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.chat-room .row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
}