body {
    background-color: #eee;
}

.App {
    margin: .5em 1em;
}

.Header .navbar {
    margin-bottom: .5em;
}

.content-wrapper {
    background-color: white;
    border-radius: 4px;
    border-color: 1px solid #e7e7e7;
}

.content {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
    width: 220px;
}

.list-item {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 56px;
}

.list-item-container:nth-child(even) {
    background-color: #f4f4f4;
}

.no-reports {
    display: none;
}

.item-id {
    display: inline-block;
    width: 20em;
    font-weight: 300;
}
.item-costs {
    display: inline-block;
}
.item-cost select {
    min-width: 8.5em;
    margin-right: 1em;
}

.list-item .btn {
    margin-left: 1em;
}

button.btn-add-item {
    margin-top: 1em;
    float: right;
}

.logout-button {
    cursor: pointer;
}

.avatar, .no-avatar{
    min-width: 64px;
    min-height: 64px;
}

.no-avatar {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.clickable {
    cursor: pointer;
    border-bottom: 1px dotted #ccc;
}

.clickable:hover {
    background-color: aqua
}

.debug pre {
    text-align: left;
}

.unobtrusive {
    color: #ccc;
    font-size: smaller;
}

.CodeMirror {
    border: 1px solid #e7e7e7;
}

.AdminAction {
    margin-right: 1em;
}

.sweetalert-large {
  width: 900px !important;
  margin-left: -450px !important;
}

.table-condensed > tbody > tr > td {
    padding: 1px 8px;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.reports-blocks{
    margin: 10px 0;
}

.reports-blocks .block-report-item:hover, .report-item:hover{
    cursor: pointer;
}