.dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
    width: 220px;
}

.list-item {
    padding-top: 6px;
    padding-left: 56px;
}

.no-reports {
    display: none;
}

.item-id {
    display: inline-block;
    width: 20em;
    font-weight: 300;
}
.item-costs {
    display: inline-block;
}
.item-cost select {
    min-width: 80px;
    margin-right: 1em;
}

.list-item .btn {
    margin-left: 1em;
}

button.btn-add-item {
    margin-top: 1em;
    float: right;
}

.logout-button {
    cursor: pointer;
}
